#form input.find  { background-image: none; }
#form input.user  { background-image: none; }
#form input.email { background-image: none; }
#form input.photo { background-image: none; }
#form input.key   { background-image: none; }
#form input.label { background-image: none; }
#form input.bookstore { background-image: none; }
#form input.directory { background-image: none; }
#form input.world { background-image: none; }
#form input.flag { background-image: none; }
#form input.calendar { background-image: none; }