* {
    padding: 0em 0em;
    margin: 0em 0em;
    font-family: arial,sans-serif;
    font-size: 0.952em;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

a:focus {
    outline: none;
}

fieldset {
    border: none;
}

blockquote {
    margin: 1.0em 3.0em;
    padding: 1.0em 3.0em;
    border: 1px dashed #ffffff;
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse:collapse;
}

body {
    background-color: #000000;
}

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }

.hidden { display: none; }
.showed { display: inline; }

.bold { font-weight: bold; color: #74B7E7; padding-right: 0.25em; }
.italic { font-style: italic; }

#head {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 25px;
    border-bottom: 1px dashed #ffffff;
}

#menubar {
    float: left;
    display: inline;
    margin-left: 0.6em;
}

#toolbar {
    float: right;
    margin-right: 0.6em;
}

#menubar a, #toolbar a {
    position: relative;
    top: 0.36em;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    margin: 0em 0.4em;
}

#menubar a.main {
    top: 0.5em;
    padding: 1.0em 1.0em 0.5em 1.0em;
    margin: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0.15em 0.15em 0.15em #000000;
}

.color1 {
    background: #5a065d;
}

.color2 {
    background: #8f5509;
}

.color3 {
    background: #758a08;
}

.color4 {
    background: #08395c;
}

.color5 {
    background: #757575;
}

#wrapper {
    position: absolute;
    z-index: 1;
}

#main {
    position: relative;
    z-index: 3;
    top: 38px;
    left: 10px;
    overflow: auto;
    color: #ffffff;
}

#main h1 {
    font-size: 1.8em;
    padding: 0.30em 0em;
    text-shadow: 0.1em 0.1em 0.1em #888888;
}

#main h2 {
    font-size: 1.7em;
    padding: 0.36em 0em;
}

#main .message {
    width: 840px;
    margin: 0.3em auto;
    padding: 0.2em 0.3em;
    border: 0.3em solid #a6a600;
    background: #ffff73;
    color: #000000;
}

#main .closeable {
    float: right;
    color: #a6a600;
    margin: 0px 2px 0px 0px;
}

#wall {
    
}

#column1, #column2, #column3 {
    float: left;
}

#column1, #column2 {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#column3 {
    padding: 2px 5px;
}

#column3 table th {
    color: #000000;
    text-shadow: 0.12em 0.12em 0.15em #ffffff;
}

a.list {
    display: block;
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    color: #000000;
    text-shadow: 0.15em 0.15em 0.15em #ffffff;
    margin: 0.2em 0em 0.2em 0.9em;
    padding: 0.32em 0.5em 0.38em 1.0em;
}

a.list.active, a.list.hover {
    color: #ffffff;
    text-shadow: 0.15em 0.15em 0.15em #000000;
}

#central {
    position: absolute;
    width: 840px;
    height: 472px;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -420px;
    border: 3px solid #ffffff;
}

#central img.switcher {
    width: 840px;
    height: 472px;
    opacity: 0.1;
}

#central #form {
    position: absolute;
    left: 2.5em;
    top: 2.0em;
}

#classic {
    width: 960px;
    margin: 0em auto;
}

#classic a {
    color: #ffffff;
}

#classic img {
    border: 3px solid #ffffff;
}

#classic .photo {
    float: left;
    margin: 0em 1.0em;
}

#classic form table {
    width: auto;
}

#classic form table td {
    font-size: 1.08em;
}

#form label {
    font-size: 1.2em;
    text-shadow: 0.2em 0.2em 0.2em #000000;
}

#form dt {
    margin-top: 0.6em;
}

#form dd {
    position: relative;
}

#form dd ul.errors {
    position: absolute;
    top: 0em;
    left: 360px;
}

#form dd ul.errors li {
    width: 430px;
    list-style-type: none;
    text-shadow: 0.2em 0.2em 0.2em #000000;
}

#form input[type="text"], #form input[type="password"], #form input[type="file"] {
    width: 318px;
    height: 26px;
    padding: 0.1em 0.2em 0.1em 28px;
}

#form select {
    height: 28px;
    color: #000000;
    font-size: 1.3em;
    padding: 0.20em 0.6em 0em 0em;
}

#form textarea {
    width: 333px;
    height: 200px;
    padding: 0.4em 0.4em 0.4em 0.4em;
}

#form input[type="text"], #form input[type="password"], #form input[type="file"], #form textarea {
    margin: 0.1em 0em 0.5em 0em;
    color: #000000;
    font-size: 1.7em;
    border: none;
}

#form input[type="submit"] {
    font-size: 1.4em;
    padding: 0.31em 0.36em;
}

div.tool-panel {
    margin: 0.3em 0em 0.5em 0em;
}

div.tool-panel input[type="submit"] {
    padding: 0.2em 0.4em;
}

#form input.find  { background: #ffffff url('../img/icons/find.png') no-repeat 8px 7px; }
#form input.user  { background: #ffffff url('../img/icons/user.png') no-repeat 8px 7px; }
#form input.email { background: #ffffff url('../img/icons/email.png') no-repeat 8px 7px; }
#form input.photo { background: #ffffff url('../img/icons/photo.png') no-repeat 8px 7px; }
#form input.key   { background: #ffffff url('../img/icons/key.png') no-repeat 8px 7px;  }
#form input.label { background: #ffffff url('../img/icons/page.png') no-repeat 8px 7px;  }
#form input.bookstore { background: #ffffff url('../img/icons/book_open.png') no-repeat 8px 7px;  }
#form input.directory { background: #ffffff url('../img/icons/folder.png') no-repeat 8px 7px;  }
#form input.world { background: #ffffff url('../img/icons/world.png') no-repeat 8px 7px;  }
#form input.flag { background: #ffffff url('../img/icons/flag_yellow.png') no-repeat 8px 7px;  }
#form input.calendar { background: #ffffff url('../img/icons/calendar.png') no-repeat 8px 7px;  }

#breadcrumb {
    padding: 2px 0px 3px 8px;
    margin: 5px 0px 15px 0px;
    font-size: 1.2em;
}

#breadcrumb a {
    color: #ffffff;
    font-weight: bold;
    padding: 1px 6px;
    border: 1px solid #ffffff;
}

#list .element {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    float: left;
}

#list .element:hover {
    cursor: pointer;
    background: #303030;
}

#list .book {
    width: 333px;
    height: 100px;
}

#list .catalog {
    width: 333px;
    height: 100px;
}

#list .new {
    width: 103px;
}

#list a {
    color: #ffffff;
}

table .title {
    height: 1.6em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.2em 0.2em 0.15em #000000;
}

table th {
    font-size: 1.21em;
    padding: 0.25em 0em;
}

table td {
    padding: 0.33em 0.5em;
}

table tr.even {
    background: #202020;
}

table tr.odd {
    background: #000000;
}

table tr a {
    color: #ffffff;
    font-weight: bold;
}

#foot {
    position: absolute;
    z-index: 2;
    bottom: 0.2em;
    right: 0.3em;
    color: #ffffff;
}

#foot a {
    color: inherit;
    margin: 0em 0.2em 0em 0em;
}

.update {
    cursor: pointer;
}

.overlay {
    display: none;
    padding: 2.0em 2.0em 1.8em 2.0em;
    background: #000000;
    border: 3px solid #ffffff;
}

.overlay .close {
    background-image: url('../img/close.png');
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

#thumb, .photo {
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

div.tag {
    float: left;
    display: inline;
    line-height: 2.6em;
}

.tag a {
    color: #ffffff;
    font-size: 1.40em;
    padding: 0.2em 0.4em;
    margin: 0em 0.3em;
    background: #303030;
    border: 1px dashed #aaaaaa;
}

.tag a:hover {
    background-color: #606060;
}

.user > img {
    margin-left: 4px;
}

.user > img, .catalog > .photo > img {
    height: 100px;
}
