/*============================================================================*/
/* general cleaner */
body {
    background-color: #b0b0b0;
}

/*============================================================================*/
/* default behavior for tags */

/*============================================================================*/
/* generic behaviors */
tr.even { background-color: #d0d0d0; }
tr.odd { background-color: #ffffff; }

/*============================================================================*/
/* palette colors */
.color1 { background-color: #5a065d; }
.color2 { background-color: #8f5509; }
.color3 { background-color: #758a08; }
.color4 { background-color: #08395c; }

/*============================================================================*/
/* fundamental structure */
#head {
    background-color: #606060;
    border-bottom: 1px solid #606060;
}

#main {
    color: #303030;
}

#foot {
    background-color: #b0b0b0;
}

/*============================================================================*/
/* top menu settings */
#head #menubar .primary a {
    color: #ffffff;
}

#head ul li a {
    color: #ffffff;
}

/*============================================================================*/
/* bottom menu settings */
#foot #translate ul li {
    border-color: #606060;
}

#foot ul li a {
    color: #606060;
}

/*============================================================================*/
/* frontpage settings */
#central {
    border-color: #606060;
}

/*============================================================================*/
/* classic settings */

/*============================================================================*/
/* form settings */
#form select {
    color: #000000;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="file"],
#form textarea {
    color: #000000;
}

input[type="submit"],
button {
    background-color: #ffffff;
}

#form input.find,
#form input.user,
#form input.email,
#form input.photo,
#form input.key,
#form input.label,
#form input.bookstore,
#form input.directory,
#form input.world,
#form input.flag,
#form input.calendar {
    background-color: #ffffff;
}

/*============================================================================*/
/* block for flash messages */
#messages {
    border-color: #a6a600;
    background-color: #ffff73;
    color: #000000;
}

/*============================================================================*/
/* main settings */

/*============================================================================*/
/* breadcrumb settings */
#breadcrumb {
    border-right-color: #505050;
}

#breadcrumb a {
    color: #505050;
    border-left-color: #505050;
}

/*============================================================================*/
/* list settings */
#list .element {
    border-color: #606060;
}

#list .element:hover {
    background-color: #dddddd;
}

#list .catalog,
#list .book {
    background-color: #ffffff;
}

#list a {
    color: #606060;
}

/*============================================================================*/
/* 3-columns settings */
#column1, #column2, #column3 {
    background-color: #707070;
}

#column1 ul li, #column2 ul li {
    background-color: #e0e0e0;
}

#column1 ul li.active a, #column1 ul li a:hover,
#column2 ul li.active a, #column2 ul li a:hover {
    background-color: #74b7e7;
    color: #ffffff;
}

#column1 ul li a, #column2 ul li a {
    color: #000000;
}

#column3 h1, #column3 h2, #column3 h3 {
    color: #ffffff;
}

#column3 p, #column3 span, #column3 blockquote, #column3 ol, #column3 li {
    color: #404040;
}

#column3 table th {
    color: #ffffff;
}

#column3 a {
    color: #404040;
}

/*============================================================================*/
/* overlay settings */
.overlay {
    background: #ffffff;
    border-color: #606060;
}

/*============================================================================*/
/* misc settings */
.tool-panel input[type="submit"] {
    border-color: #000000;
}

/*============================================================================*/
/* Users list customization */

/*============================================================================*/
/* tagcloud list settings */
.tag a {
    color: #ffffff;
    background: #303030;
    border-color: #aaaaaa;
}

.tag a:hover {
    background-color: #606060;
}

/*============================================================================*/
/* preview settings */
#preview div {
    border-color: #ffffff;
}
