/*============================================================================*/
/* general cleaner */

/*============================================================================*/
/* default behavior for tags */

/*============================================================================*/
/* generic behaviors */

/*============================================================================*/
/* palette colors */

/*============================================================================*/
/* fundamental structure */

/*============================================================================*/
/* top menu settings */
#head ul li a {
    text-shadow: 1px 1px 1px #000000;
}

#head ul li.primary {
    box-shadow: 0px 0px 5px 2px #000000;
}

#head ul li.primary a {
    text-shadow: 2px 2px 2px #000000;
}

/*============================================================================*/
/* bottom menu settings */

/*============================================================================*/
/* frontpage settings */

/*============================================================================*/
/* classic settings */

/*============================================================================*/
/* form settings */
#form label {
    text-shadow: 1px 1px 1px #ffffff;
}

input[type="text"],
input[type="password"],
input[type="submit"],
select,
textarea,
button {
    box-shadow: 1px 1px 5px 1px #000000;
}

/*============================================================================*/
/* main settings */

/*============================================================================*/
/* breadcrumb settings */

/*============================================================================*/
/* list settings */
#list .element {
    box-shadow: 0px 0px 4px 2px #303030;
}

#list .element:hover {
    box-shadow: 0px 0px 4px 2px #000000;
}

/*============================================================================*/
/* 3-columns settings */
#column1, #column2, #column3 {
    box-shadow: 0px 0px 5px 2px #000000;
}

#column1 ul li, #column2 ul li {
    box-shadow: 0px 0px 5px 2px #000000;
}

#column1 ul li.active a, #column1 ul li a:hover,
#column2 ul li.active a, #column2 ul li a:hover {
    text-shadow: 0.15em 0.15em 0.15em #000000;
}

#column1 ul li a, #column2 ul li a {
    text-shadow: 0.15em 0.15em 0.15em #ffffff;
}

#column3 table th {
    text-shadow: 2px 2px 3px #303030;
}

/*============================================================================*/
/* overlay settings */

/*============================================================================*/
/* misc settings */
.tool-panel input[type="submit"] {
    box-shadow: 1px 1px 1px #ffffff;
}

/*============================================================================*/
/* Users list customization */

/*============================================================================*/
/* tagcloud list settings */

/*============================================================================*/
/* preview settings */
