#head {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#606060), to(#909090));
}

.color1 { background: -webkit-gradient(linear, 0 0%, 0 100%, from(#202020), to(#909090)); }

.color2,
.color3,
.color4 {
    background: -moz-linear-gradient(top, #707070, #e0e0e0);
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#707070), to(#e0e0e0));
}

