/* General cleaners */
body, ul, li, a, p {
    margin: 0px;
    padding: 0px;
}

a {
/*    color: inherit;*/
    text-decoration: none;
}

a img {
    border: none;
}

a:focus, input:focus {
    outline: none;
}

fieldset {
    border: none;
}

table {
    width: 100%;
    border-collapse:collapse;
}

/* Generic behaviors */
.left { float: left; }
.right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.hidden { display: none; }
.showed { display: inline; }

.clear { clear: both; }

tr.even { background: #202020; }
tr.odd { background: #000000; }

/* Basic structure*/
#head {
    top: 0px;
    height: 25px;
    left: 0px;
    right: 0px;
    z-index: 10;
    position: fixed;
}

#main {
    padding: 30px 5px 20px 5px;
}

#foot {
    bottom: 0px;
    height: 15px;
    left: 0px;
    right: 0px;
    padding-top: 3px;
    z-index: 8;
    position: fixed;
}

/* Menu settings */
#head #menubar {
    display: block;
}

#head #menubar .primary {
    padding: 0px 10px 3px 10px;
}

#head #menubar .hidden {
    display: none;
}

#head #toolbar {
    display: block;
    margin-right: 10px;
}

#head ul {
    height: 25px;
    float: left;
}

#head ul li {
    height: 25px;
    list-style: none;
    float: left;
    margin: 0px 0px 0px 10px;
}

#head ul li a {
    height: 25px;
    display: block;
    padding: 0px 5px;
    line-height: 25px;
    text-shadow: 1px 1px 1px #ffffff;
}

#head ul li.primary {
    box-shadow: 0px 0px 5px 2px #000000;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#head ul li.primary a {
    text-shadow: 0.15em 0.15em 0.15em #000000;
}

#foot #translate {
    display: block;
    margin-left: 10px;
}

#foot #footer {
    display: block;
    margin-right: 10px;
}

#foot ul {
    height: 15px;
}

#foot ul li {
    height: 15px;
    list-style: none;
    display: inline-block;
}

#foot ul li a {
    height: 15px;
    display: block;
    padding: 0px 5px;
    line-height: 15px;
}

/* Frontpage settings */
#central {
    position: absolute;
    height: 472px;
    width: 840px;
    top: 50%;
    left: 50%;
    margin-left: -420px;
    margin-top: -235px;
}

#central img.switcher {
    opacity: 0.1;
    height: 100%;
    width: 100%;
}

#central #form {
    position: absolute;
    left: 1.0em;
    top: 1.0em;
}

/* Classic settings */
#classic {
    width: 960px;
    margin: 0em auto;
    margin-bottom: 20px;
}

/* Form settings */
#form label {
    margin-left: 10px;
    text-shadow: 0.2em 0.2em 0.2em #000000;
}

#form dt {
    margin-top: 0.6em;
}

#form dd {
    position: relative;
    margin-left: 2.0em;
}

#form dd ul.errors {
    position: absolute;
    top: 0em;
    left: 360px;
}

#form dd ul.errors li {
    width: 430px;
    list-style-type: none;
}

#form input[type="text"], #form input[type="password"], #form input[type="file"] {
    width: 308px;
    height: 26px;
    padding: 0px 10px 0px 28px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 1px #000000;
}

#form select {
    height: 28px;
    color: #000000;
    padding: 0.20em 0.6em 0em 0em;
}

#form textarea {
    width: 333px;
    height: 100px;
    padding: 0.4em 0.4em 0.4em 0.4em;
    border-radius: 7px;
}

#form input[type="text"], #form input[type="password"], #form input[type="file"], #form textarea {
    margin: 0.1em 0em 0.5em 0em;
    color: #000000;
    border: none;
}

#form input[type="submit"] {
    padding: 0.31em 0.36em;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 1px #000000;
    border: none;
}

#form input.find      { background: #ffffff url('../img/icons/find.png')        no-repeat 8px 5px; }
#form input.user      { background: #ffffff url('../img/icons/user.png')        no-repeat 8px 5px; }
#form input.email     { background: #ffffff url('../img/icons/email.png')       no-repeat 8px 5px; }
#form input.photo     { background: #ffffff url('../img/icons/photo.png')       no-repeat 8px 5px; }
#form input.key       { background: #ffffff url('../img/icons/key.png')         no-repeat 8px 5px; }
#form input.label     { background: #ffffff url('../img/icons/page.png')        no-repeat 8px 5px; }
#form input.bookstore { background: #ffffff url('../img/icons/book_open.png')   no-repeat 8px 5px; }
#form input.directory { background: #ffffff url('../img/icons/folder.png')      no-repeat 8px 5px; }
#form input.world     { background: #ffffff url('../img/icons/world.png')       no-repeat 8px 5px; }
#form input.flag      { background: #ffffff url('../img/icons/flag_yellow.png') no-repeat 8px 5px; }
#form input.calendar  { background: #ffffff url('../img/icons/calendar.png')    no-repeat 8px 5px; }

/* block for flash messages */
#messages {
    border: 3px solid #a6a600;
    background: #ffff73;
    color: #000000;
    position: absolute;
    top: 40px;
    right: 15px;
    width: 50%;
}

/* main block */
#main h1 {
    margin: 10px 20px 0px 20px;
}

#main p.message {
    padding: 3px 5px;
    margin-right: 40px;
}

#main div.closeable {
    margin: 1px 5px 0px 5px;
}

/* breadcrumb block */
#breadcrumb {
    margin: 0px 20px;
    display: inline;
    border-right: 1px solid #505050;
}

#breadcrumb a {
    color: #d0d0d0;
    border-left: 1px solid #505050;
    padding: 0px 10px;
}

/* List settings */
#list {
    margin: 0px 0px 0px 0px;
}

#list .element {
    margin: 5px;
    padding: 10px;
    float: left;
    border: 1px solid #ffffff;
}

#list .element h2 {
    padding: 0px;
    margin: 0px 0px 4px 0px;
    height: 46px;
    overflow: hidden;
}

#list .element:hover {
    background: #303030;
}

#list p.description {
    padding: 0px 20px 10px 20px;
    text-align: justify;
}

#list .book {
    width: 333px;
    height: 100px;
}

#list .catalog {
    width: 333px;
    height: auto;
}

#list .new {
    width: 66px;
}

#list a {
    color: #ffffff;
}

/* the terrible columns blocks */
#columns {
    position: absolute;
    top: 32px;
    bottom: 18px;
    left: 6px;
    right: 6px;
}

#column1, #column2, #column3 {
    float: left;
    background-color: #dddddd;
    margin-bottom: 18px;
}

#column1, #column1 ul li, #column1 ul li.active a, #column1 ul li a:hover,
#column2, #column2 ul li, #column2 ul li.active a, #column2 ul li a:hover {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#column2 {
    border-top-left-radius: 0px;
}

#column1, #column2 {
    max-width: 200px;
    margin-top: 20px;
}

#column2, #column3 {
    box-shadow: 0px 0px 5px 2px #000000;
}

#column1 ul, #column2 ul {
    list-style-type: none;
    margin: 10px 0px 10px 10px;
}

#column1 ul li, #column2 ul li {
    background-color: #888888;
    box-shadow: 0px 0px 5px 2px #000000;
    margin: 3px 0px;
    padding: 0px;
}

#column1 ul li.active a, #column1 ul li a:hover,
#column2 ul li.active a, #column2 ul li a:hover {
    background-color: #74b7e7;
    color: #ffffff;
    text-shadow: 0.15em 0.15em 0.15em #000000;
}

#column1 ul li a, #column2 ul li a {
    display: block;
    text-align: right;
    padding: 5px 12px;
    color: #000000;
    text-shadow: 0.15em 0.15em 0.15em #FFFFFF;
}

#column3.square {
    border-bottom-left-radius: 0px;
}

#column3 {
    border-radius: 10px;
/*    margin-bottom: 20px;*/
    padding: 10px;
    font-size: 10pt;
}

#column3 h1, #column3 h2, #column3 h3 {
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
}

#main #column3 h1 {
    font-size: 18pt;
}

#main #column3 h2 {
    font-size: 13pt;
}

#main #column3 h3 {
    font-size: 11pt;
    font-style: italic;
}

#column3 h1, #column3 h2, #column3 h3, #column3 p, #column3 span {
    margin: 5px 0px 5px 8px;
}

#column3 p, #column3 span, #column3 blockquote, #column3 ol, #column3 li {
    color: #404040;
    font-size: inherit;
}

#column3 table th {
    color: #000000;
    text-shadow: 0.12em 0.12em 0.15em #ffffff;
}

#main #column3 table tr td {
    font-size: 8pt;
}

#column3 ol {
    margin-left: 10px;
}

#column3 a {
    color: #404040;
    font-size: inherit;
    font-weight: bold;
}

/* overlay sector */
.overlay {
    display: none;
    padding: 10px 30px 0px 10px;
    background: #000000;
    border: 3px solid #ffffff;
}

.overlay .close {
    background-image: url('../img/close.png');
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

#return-label, #return-element {
    display: none;
}

.tool-panel input[type="submit"] {
    font-size: 8pt;
    background-color: inherit;
    padding: 1px 4px;
    margin: 1px 1px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 1px #ffffff;
}

/* Users list customization */
#list .user {
    width: 100px;
    height: 100px;
}

/* Tagcloud list customization */
div.tag {
    float: left;
    display: inline;
    line-height: 26px;
}

.tag a {
    color: #ffffff;
    font-size: 10pt;
    padding: 2px 5px;
    margin: 0em 3px;
    background: #303030;
    border: 1px dashed #aaaaaa;
}

.tag a:hover {
    background-color: #606060;
}

