#main {
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
}

#main h1 {
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0.2em 0.5em;
}

#head, #head ul li a {
    color: #000000;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
}

#foot, #foot ul li a {
    color: #ffffff;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
}

#main #messages p.message {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}