#main {
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
}

#main h1 {
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 26pt;
    font-weight: normal;
}

#breadcrumb a {
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
}

#head, #head ul li a {
    color: #000000;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

#foot, #foot ul li a {
    color: #ffffff;
    font-size: 9pt;
    font-family: Arial,Helvetica,sans-serif;
}

#main #messages p.message {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

#list .element h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 15pt;
}

#list p.description {
    font-size: 11pt;
}

#form label {
    font-size: 0.8em;
}

#form dd ul.errors li {
    font-size: 12px;
}

#column1 ul li a, #column2 ul li a {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

#form input[type="text"], #form input[type="password"], #form input[type="file"],
#form select, #form textarea, #form input[type="submit"], button {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11pt;
}