#head {
    border: none;
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#888888), to(#ffffff));
}

.color1 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#5a065d), to(#e36de7));
}

.color2 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#9f5509), to(#f7be74));
}

.color3 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#758a08), to(#e1f673));
}

.color4 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#08395c), to(#74b7e7));
}

.color5 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#888888));
}

#column1, #column2 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#dddddd), to(#888888));
}

#column1 ul li, #column2 ul li {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#888888));
}

#column1 ul li.active a, #column1 ul li a:hover,
#column2 ul li.active a, #column2 ul li a:hover {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#08395c), to(#74b7e7));
}

#column3 {
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#dddddd), to(#bbbbbb));
}
